<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="guru99Banking Demo">

	<listeners>
		<listener
			class-name="com.guru99BankingDemo.utilities.Reporting" />
	</listeners>


	<test name="BankingApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.guru99BankingDemo.testCases.ManagerModuleTest" />
			<!-- <class name="com.guru99BankingDemo.testCases.CustomerModuleTest"/> 
				<class name="com.guru99BankingDemo.testCases.AccountModuleTest"/> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->